#dorf-component-outer {
  #dorf-component-inner {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    #dorf {
      font-size: 20vh;
      cursor: pointer;
      font-family: "Luckiest Guy", cursive;
      text-decoration: none;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
